<!DOCTYPE html>
<html>
  <head>
    <title>MyStyle</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header style="background-color:#EC715F">
    <div class="container">
      <nav class="navbar navbar-expand-sm navbar-light p-0 mx-4">
        <a class="navbar-brand m-0 p-0" href="#mv"><%= image_tag 'logo', size: "156x70" %></a>
        <button class="navbar-toggler border" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav ml-auto">
            <li>
              <div class="col">
                <a class="text-white" href="#portfolio">Portfolio</a>
              </div>
            </li>
            <li>
              <div class="col">
                <a class="text-white" href="#feature">Feature</a>
              </div>
            </li>
            <li>
              <div class="col">
                <a class="text-white" href="#profile">Profile</a>
              </div>
            </li>
            <li>
              <div class="col">
                <a class="text-white" href="#contact">Contact</a>
              </div>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </header>

  <main>
    <%= yield %>
  </main>

  <footer style="background-color:#EC715F">
    <div class="py-3 text-center small">
        <span class="text-white">© 2017 WebCamp</span>
    </div>
  </footer>
  </main>
</html>
